# Seguridad de la Aplicación
ADMIN_PASSWORD=admin123

# Configuración de Correo (Resend API)
RESEND_API_KEY=re_123456789
GMAIL_FROM=tu-correo-verificado@gmail.com

# IA y Otros
GEMINI_API_KEY=tu-api-key
NODE_ENV=production
